version: '3.8'

services:
  # Service utilisateurs
  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "8080:8080"
    networks:
      - microservices-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/users/ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  # Service tâches
  task-service:
    build:
      context: ./task-service
      dockerfile: Dockerfile
    container_name: task-service
    ports:
      - "8082:8082"
    environment:
      # URL du service utilisateur (nom du service Docker)
      - USER_SERVICE_URL=http://user-service:8080
    depends_on:
      user-service:
        condition: service_healthy
    networks:
      - microservices-network

# Réseau partagé entre les services
networks:
  microservices-network:
    driver: bridge
